@import "../global.scss";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;

    .logo {
        width: 12rem;

        img {
            width: 100%;
        }
    }

    .list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        .item {
            margin: 0 2rem;
            text-decoration: none;
            font-family: $main-font;
            color: $blue;
            font-weight: 500;
            letter-spacing: 0.5px;

            &:after {
                content: '';
                display: block;
                margin: auto;
                margin-top: 2px;
                height: 2px;
                width: 0px;
                background: transparent;
                transition: width .2s ease-out, background-color .3s ease;
                -webkit-transition: width .2s ease-out, background-color .3s ease;
                -moz-transition: width .2s ease-out, background-color .3s ease;
                -ms-transition: width .2s ease-out, background-color .3s ease;
                -o-transition: width .2s ease-out, background-color .3s ease;
            }
    
            &:hover:after {
                width: 100%;
                background: $light-blue;
            }
        }
    }


}