@import "../global.scss";

section {
    padding: 3rem 0;

    &.dark {
        background-color: $light-grey;
    }

    .section-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;

        h1 {
            margin: 0 1.5rem;
            color: $blue;
            font-family: $heading-font;
            font-weight: 500;
            font-size: 1.75rem;
            text-transform: capitalize;

            &:after {
                content: '';
                display: block;
                margin: auto;
                margin-top: 0.5rem;
                height: 3px;
                width: 40%;
                background: $light-blue;
            }
        }

        i {
            color: $light-blue;
            font-size: 0.9rem;
            padding-bottom: calc(0.5rem);
        }
    }
}