@import "../global.scss";

section {
    padding: 3rem 0;

    &.dark {
        background-color: $light-grey;
    }

    .section-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
        text-align: center;

        h1 {
            margin: 0 1.5rem;
            color: $blue;
            font-family: $heading-font;
            font-weight: 500;
            font-size: 1.75rem;
            text-transform: capitalize;

            @media (max-width: 576px) {
                font-size: 1.5rem;
                margin: 0 0.75rem;
            }

            &:after {
                content: "";
                display: block;
                margin: auto;
                margin-top: 0.75rem;
                height: 3px;
                width: 40%;
                background: $light-blue;
            }
        }

        i {
            color: $light-blue;
            font-size: 0.8rem;
            padding-bottom: calc(0.5rem);

            @media (max-width: 576px) {
                font-size: 0.7rem;
            }
        }
    }
}
