@import "../global.scss";

.block {
    width: 40%;

    @media (max-width: 991px) {
        width: 45%;
    }

    @media (max-width: 576px) {
        width: 90%;
    }

    .image {
        height: 40vh;

        @media (max-width: 991px) {
            height: 30vh;
        }

        @media (max-width: 576px) {
            height: 25vh;
        }
    }

    .text {
        padding: 1rem 2rem;
        background-color: $blue;
        text-align: center;

        h4 {
            color: $light-blue;
            margin: 0;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
        }

        p {
            color: $white;
            margin: 0;
            font-size: 0.9rem;
        }
    }
}
